#temp-container {
	display: flex; 
	flex-direction: row;
}

.day-container {
	height: 210px;
	width: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(185,183,183);
	background: radial-gradient(circle, rgba(160,158,158,0.85) 0%, rgba(88,86, 86,1) 100%);
	border: 2px rgb(38, 38, 38) solid;
	border-radius: 15px;
}

.day-title {
	font-size: 22px;
	padding-top: 6px;
	color: #fff;
}

.day-icon {
	transition: all 5s ease-in-out;
}

.day-temp-high {
	padding-right: 7px;
	font-size: 22px;
	color: #fff;
}

.day-temp-low {
	color: rgba(208, 208, 208, 0.9);
	padding-left: 7px;
	font-size: 22px;
}

#daily-horizontal {
	width: 90%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(176, 176, 176, 0.9);
	margin-top: .5px;
	margin-bottom: 3px;
}

/* --------------------------------------------- */
/* ---------------LOADING SYMBOL---------------- */
/* --------------------------------------------- */

#spinner {
     height: 300px;
     width: 420px;
	text-align: center;
}
   
.lds-dual-ring {
	position: relative;
	top: 25%;
	/* margin-top: 10%; */
	display: inline-block;
	width: 100px;
	height: 100px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 80px;
	height: 80px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
	@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}